name: Publish Action

on:
  push:
    tags:
      - 'repofmt-v*'

jobs:
  publish-lib:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: lib
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish
        run: |
          npm publish --access=public

  publish-action:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: .
    steps:
      - uses: googleapis/release-please-action@v4
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish
        run: |
          echo "TODO: Publish action"
