name: Publish Action

on:
  push:
    tags:
      - 'repofmt-action-v*'

jobs:
  publish-action:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: .
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish
        run: |
          echo "TODO: Publish action"
